/*  tạp base dự án (  phần này khi tạo dự án phải làm đầ tiên ) */
/* khởi tạo box-sizing: border-box cho toàn bộ dự án ( khi khởi tạo thì
luôn dùng cái này */
* {
  box-sizing: border-box;
}

/*  đổi cỡ chữ cho toàn bộ html từ 16px sang 10px vì ta dùng đơn vị rem
 nên đổi sang 10px tính cho dễ vd: 16px = 1.6rem vì lúc này 1rem = 10px
 chứ không phải 1rem = 16 px như trước */
html {
  font-size: 62.5%;
  /* vì đơn vị rem ăn theo font-size nên phải đổi ở html */
}
/* khôi phục lại cỡ chữ */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ==================common================= */

/* độ rộng cho toàn bộ web */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/* thuộc tính chung cho các nút bấm */
.nth {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  border-radius: 24.5px;
  color: #fff;
  background-color: black;
}

.nth:hover {
  cursor: pointer;
  opacity: 0.9;
}
.name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.heading-h2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.name-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.desc-1 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/* ===================header=============== */
.header {
  background: #fffcf4;
}

/* dữ cho phần header không bị trôi khi lăn chuột */
.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
/* xoay ngang các khối con bên trong body */
.header .body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 36px; */
  padding-top: 36px;
  text-align: center;
}

.header .nav ul {
  display: flex;
  position: relative;
}

/*  đẩy các khối từ khối nav sang bên phải */
.header .nav {
  margin-left: auto;
}

/* tác động thẻ a nằm trong khối nav */
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 28px;
  text-align: center;
  padding: 0px 21px;
}

/* tạo hover khi di vào chữ thì in đậm */
.header .nav li.active a,
.header .nav a:hover {
  text-shadow: 1px 0px 0px currentColor;
}

/* tạo gạch chân cho các thẻ có class active */
.header .nav li.active a::after {
  display: block;
  content: "";
  width: 16px;
  height: 2px;
  left: 21px;
  position: absolute;
  border-radius: 20px;
  background-color: #5f5b53;
}

/* tạo thuộc tính cho thẻ a có class là nth-header */
.header .nth-header {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

/*  tạo khoảng cách giữa khối nth-header với các khối bên trái */
.header .nth-header {
  margin-left: 49px;
}

/* =======================code-hero================== */
.hero {
  padding: 65px 0px 64px;
  background: #fffcf4;
}

/* tác động css để xoay ngang 2 khối left và right */
.hero .body {
  display: flex;
}

/* ==============hero-left========== */
.hero .hero-left {
  position: relative;
  width: 48%;
}

.hero .hero-left .img {
  width: 470px;
  height: 685px;
  object-fit: cover; /* không bị vỡ ảnh*/
}

.hero .hero-left .media-block {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0px;
  border-radius: 12px;
  background: #fff;
}

.hero-left .item {
  display: flex;
  align-items: center;
}

.hero-left .item .paragrap {
  margin-left: 28px;
}

.hero-left .item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left .item .disign {
  background-color: #fff9e8;
}

.hero-left .item .develop {
  background-color: #fcefff;
}

.hero-left .item .maket {
  background-color: #ebeaff;
}

.hero-left .item + .item {
  margin-top: 22px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  /* line-height: 1.86; 185.714% */
  line-height: 30px;
}

/* =================hero-right==================== */
.hero .hero-right {
  width: 52%;
  margin-top: 111px;
  padding-left: 130px;
}

.hero .hero-right .heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .hero-right .cta-group {
  display: flex;
  margin-top: 38px;
}

.hero .hero-right .Watch-Video {
  display: flex;
  background-color: transparent;
}

.hero .hero-right .nth-main {
  background: #ffb900;
}

.hero .hero-right .Watch-Video {
  margin-left: 28px;
  border: none;
  display: flex;
  align-items: center;
}

.hero .hero-right .Watch-Video .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-right .Watch-Video .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 14px;
  line-height: 1.66; /* 166.667% */
}

.hero .hero-right .desc:nth-last-child(2) {
  margin-top: 48px;
}

.hero .hero-right .desc strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}

.hero .hero-right .desc strong:last-child {
  margin-left: 28px;
}

/* ================popular================ */
.popular {
  /* thêm padding để sau nếu có thêm background thì nó nó k bị dính vào chữ  */
  padding: 35px 0px;
  margin: 165px 0px;
}

/* popular-top */
.popular .popular-top {
  display: flex;
  margin-bottom: 55px;
}

/* popular-top-left */
.popular-top .popular-top-left .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

/* popular-top-right */
.popular .popular-top .popular-top-right {
  margin-left: 614px;
}

.popular-top .popular-top-right {
  display: flex;
  gap: 18px;
}

.popular-top .popular-top-right .icon {
  width: 40px;
  height: 40px;
  margin-top: 42px;
  border-radius: 50%;
  color: yellow;
  background-color: transparent;
  border: 1px solid yellow;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popular-top .popular-top-right .icon:hover {
  background-color: #ffb900;
  color: #fff;
}

/* popular-bottom */
.popular .popular-bottom {
  display: flex;
  gap: 30px;
}

.popular-bottom .cous-item {
  flex: 1; /* giữ cho 3 khối luôn có chiều rộng bằng nhau*/
}

.popular-bottom .cous-item .thump {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.popular-bottom .content {
  margin: 16px 22px 22px;
}

.popular-bottom .content .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bottom .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  margin: 6px 0px 12px;
  line-height: 1.86; /* 185.714% */
}

.popular-bottom .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bottom .icon .start {
  width: 18px;
  height: 18px;
}

.popular-bottom .icon .disgit {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.popular-bottom .fodter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bottom .fodter .buttom {
  width: 118px;
  height: 50px;
  border: none;
}

.popular-bottom .fodter .buttom:hover {
  background-color: #ffb900;
}

.popular-bottom .cous-item {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular-bottom .cous-item:hover {
  border-radius: 12px;
  background: #fff;
  border: none;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

/* ==================feedback======================= */
.feddback {
  padding: 96px 0px;
  background: #2e2100;
}

.feddback .feedback-lish {
  display: flex;
  overflow: hidden;
}

/* feedback-left */
.feddback .feedback-left .avata {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.feddback .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.feddback .feedback-left .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feddback .feedback-left .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feddback .feedback-left .dots {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}

.feddback .feedback-left .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}

.feddback .feedback-left .dot.active {
  background-color: #ffb900;
  cursor: default;
}

/* feedback-right */
.feddback .feedback-right {
  position: relative;
  width: 68%;
}

.feddback .feedback-right .img {
  position: absolute;
  left: -40px;
  top: -5px;
}

.feedback-right blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* để biết được 3 item có di chuyển hay k ta ktra trình duyệt
- chuột phải ->ktra -> tìm đến item1 -> thêm 2 dòng code transform: translateX(-100%);
    transition: all ease .5s; vào style sau đó kích dấy tích màu xanh ở dòng code đầu để xem kq
    chi tiết xưm tại bài 90.0 tuhoc.cc */

/* ===================features======================= */
.features .body {
  padding: 24px 0px;
  margin-top: 176px;
  display: flex;
  width: 100%;
}
/* features-1 */
/* features-left */
.features .body .features-left {
  display: flex;
}

.features .body .img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .features-left .img-1 {
  margin: 34px 30px 0px 0px;
}

/* features-right */

.features .features-right {
  margin: 58px 0px 0px 130px;
}

.features .features-right .desc:first-of-type {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.features .features-right .desc:nth-of-type(2) {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.features-right .nth-features {
  width: 137px;
  height: 50px;
  text-align: center;
  margin-top: 32px;
  background: #ffb900;
}

/* features-2 */
.features-2 .body {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.features-2 .features-right {
  width: 48%;
  margin: 71px 0px 0px;
}

.features-2 .features-left .img {
  width: 470px;
  height: 440px;
}
/* ===============blogs================ */
.blogs {
  margin-top: 200px;
  background: #fffcf4;
}

.blogs .body {
  padding: 96px 0px;
}

/* blog-top */
.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  width: 448px;
  color: #696262;
  text-align: center;
  margin: 16px auto 0px;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

/* blog-bottom */
.blogs .blog-bottom {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.blogs .blog-bottom .blog-item {
  width: 33.3%;
  height: 467px;
  border-radius: 16px;
  background: #fff;
}

.blogs .blog-bottom .blog-item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .blog-bottom img {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.blog-bottom .content {
  margin: 20px 20px 28px;
}

.blog-bottom .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.blog-bottom .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffb900;
  margin-right: 4px;
}

.blog-bottom .date::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  right: -27px;
  height: 1px;
  margin-top: 12px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-bottom .content .title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75px; /* 175% */
}

.blog-bottom .content .desc {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blog-bottom .content .nth-blog {
  width: 118px;
  height: 50px;
  margin-top: 12px;
}

.blog-bottom .content .nth-blog:hover {
  background: #ffb900;
}

.blogs .span {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blogs .span .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #634700;
  cursor: pointer;
}

.blogs .span .dot.active {
  background-color: #ffb900;
  cursor: default;
}

/* ========================footer========================== */
.footer {
  background: #2e2100;
  padding-top: 96px;
}

.footer .footer-top .list-item {
  width: 21.6%;
}

.footer .footer-top .list-item:first-child {
  width: 35%;
}

/* footer-top */
.footer .footer-top {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px dotted #59554b;
}

/* footer-top */
.footer-top .list-item .logo {
  margin-bottom: 18px;
}

.footer-top .list-item:first-child .desc {
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer-top .icon {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer-top .list-item .title {
  display: inline-block;
  width: 130px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 1px solid #59554b;
  padding-bottom: 14px;

  line-height: 1.75; /* 175% */
}

.footer-top .list-item ul {
  margin-top: 28px;
}

.footer .list-item ul li {
  margin-top: 12px;
}

.footer .list-item ul a {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer-top .list-item strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
}

.footer .list-item ul li:first-child {
  max-width: 231px;
}

/* footer-bottom */
.footer .footer-bottom .desc {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  padding: 28px 0px;
  line-height: 1.86; /* 185.714% */
}
